#content{
	text-align: center;
	margin-top: 20%;
	color: white;
	text-shadow: 0px 4px 3px black,
				 0px 8px 13px black,
				 0px 18px 23px grey;
}
hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
body{
	background:url(https://images.unsplash.com/photo-1566853948612-2b11887ee592?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	font-family: 'Lato', sans-serif;
	width:100%;
	

}
h1{
	font-weight: 700;
	font-size: 5em;

}
html{
	height: 100%;
}